*tsv.xz filter=lfs diff=lfs merge=lfs -text
*model filter=lfs diff=lfs merge=lfs -text
*model.wv.vectors.npy filter=lfs diff=lfs merge=lfs -text
*model.trainables.syn1neg.npy filter=lfs diff=lfs merge=lfs -text
*.wordvectors filter=lfs diff=lfs merge=lfs -text
*.wordvectors.vectors.npy filter=lfs diff=lfs merge=lfs -text
concept_trie.pkl filter=lfs diff=lfs merge=lfs -text
concept_dict.pkl filter=lfs diff=lfs merge=lfs -text
vocab_trie.pkl filter=lfs diff=lfs merge=lfs -text
full_vocab.txt filter=lfs diff=lfs merge=lfs -text
